/*footer {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
.registerImg {
    width: 15%;
}

input.invalid {
    background-color: #ffdddd;
}

.wizard {

}

.wizard .nav {

}

.wizard .nav li {

}

.wizard .bottom-nav {

}

.wizard .bottom-nav button {

}

.wizard .tabs {

}

.wizard .tabs .tab {

}

.wizard .tabs .tab[data-wizard-state="current"] {
    display: block;
}

.wizard .tabs .tab[data-wizard-state="pending"],
.wizard .tabs .tab[data-wizard-state="done"] {
    display: none;
}

.vertical-center {
    display: flex !important;
    align-items: center;
}

.label-small {
    font-size: 13px;
}

.input-error {
    border-color: red !important;
}

.input-success {
    border-color: green !important;
}

#target-audience-max, #target-audience-min {

}

.btn {
    display: inline-block;
    border: 0.1em solid lightgrey;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn i {
    color: #FFFFFF;
}

.btn:hover {
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

.btn:hover i {
    color: #000000 !important;
}

.btn-default {
    background-color: #3d6d2e !important;
}

.no-padding {
    padding: 0 !important;
}

.material-input {
    border-radius: 0.12em !important;
    margin-bottom: 0 !important;
}

@media (max-width: 991px) {
    .game-container {
        margin-top: 150px;
    }

    .game-container > .row > .col-lg-4 {
        margin-top: 25px;
    }
}

.page-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.box-shadow {
    -webkit-box-shadow: 4px 9px 19px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 9px 19px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 9px 19px -8px rgba(0, 0, 0, 0.75);

}

.white-box {
    background: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
}

.margin-left-13px {
    margin-left: -13px;
}

a {
    cursor: pointer;
}