
.registerImg {
    width: 15%;
}

input.invalid {
    background-color: #ffdddd;
}

.wizard .tabs .tab[data-wizard-state="current"] {
    display: block;
}

.wizard .tabs .tab[data-wizard-state="pending"],
.wizard .tabs .tab[data-wizard-state="done"] {
    display: none;
}

.tab {
    min-height: 250px;
}

.vertical-center {
    display: flex !important;
    align-items: center;
}

.label-small {
    font-size: 13px;
}

.input-error {
    border-color: red !important;
}

.input-success {
    border-color: green !important;
}

.btn {
    display: inline-block;
    border: 0.1em solid lightgrey;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn i {
    color: #FFFFFF;
}

.btn:hover {
    color: #000000 !important;
    background-color: #FFFFFF !important;
}

.btn:hover i {
    color: #000000 !important;
}

.btn-default {
    background-color: #3d6d2e !important;
}

.no-padding {
    padding: 0 !important;
}

.material-input {
    border-radius: 0.12em !important;
    margin-bottom: 0 !important;
}

@media (max-width: 991px) {
    .game-container {
        margin-top: 150px;
    }

    .game-container > .row > .col-lg-4 {
        margin-top: 25px;
    }
}

.page-container {
    margin-top: 150px;
    margin-bottom: 100px;
}

.box-shadow {
    -webkit-box-shadow: 4px 9px 19px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 9px 19px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 9px 19px -8px rgba(0, 0, 0, 0.75);

}

.white-box {
    background: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 10%);
}

.margin-left-13px {
    margin-left: -13px;
}

a {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.no-margin-bottom {
    margin-bottom: 0;
!important;
}

/**
slider
 */
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
.password-error, .passwordCheck-error, .email-error{
    color: red;
    display: none;
}

[show-login='admin']{
    display: none;
}