/*footer {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/

.registerPart2, .registerPart3{
    display: none;
}

.vertical-center {
    display: flex !important;
    align-items: center;
}

.label-small{
    font-size: 13px;
}