/*footer {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/

.registerImg{
    width: 15%;
}
input.invalid {
    background-color: #ffdddd;
}

.wizard {

}

.wizard .nav{

}

.wizard .nav li{

}

.wizard .bottom-nav{

}

.wizard .bottom-nav button{

}

.wizard .tabs{

}

.wizard .tabs .tab{

}

.wizard .tabs .tab[data-wizard-state="current"] {
    display: block;
}

.wizard .tabs .tab[data-wizard-state="pending"],
.wizard .tabs .tab[data-wizard-state="done"] {
    display: none;
}
.input-error{
    border-color: red !important;
}
.input-success{
    border-color: green !important;
}