
.game-name {
    color: white;
    height: 10%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    background-color: #3d6d2e
}

.game-img {
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    height: 300px;
    background-color: white;
}
.game-image{
    object-fit: cover;
    height: 300px;
}

.game-image:hover {
    opacity: 0.6;
    background-color: white;
}
.home-game-des{
    font-size: 25px;
}
#fav-icon{
    color: gold;
    font-size: 1.5em;
    margin: auto;
    display: none;
}

.filter-button {
    background-color: #3d6d2e;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    height: 50px;
    font-size: 20px;
}

.filter-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.filter-options {
    background-color: white;
    display: none;
}

.show {
    display: block;
}
.fav-button{
    cursor: pointer;
    font-size: 2em;
    color: gold;
}
#game-info-fav span {
    color: black;
    font-size: 14px;
}
#game-info-un-fav span{
    color: black;
    font-size: 14px;
}
.game-thumb-nail{
    max-width: 250px;
    border-radius: 25px;

}
.game-image-plan{
    max-width: 100%;
}