<form method="post" enctype="multipart/form-data">
    <div><label>Naam<input type="text" name="name"/></label></div>
    <div><label>Omschrijving<input type="text"/></label></div>
    <div><label>Materialen<input type="text"/></label></div>
    <div><label>Regels<input type="text"/></label></div>
    <div><label>Differentiaties - makkelijker<input type="text"/></label></div>
    <div><label>Differentiaties - moeilijker<input type="text"/></label></div>
    <div><label>Doelgroep<input type="text"/></label></div>
    <div><label>Spelsoort<input type="text"/></label></div>
    <div><label>Aantal leerlingen<input type="text"/></label></div>
    <div><label>Plattegrond<div><input type="file" name="sampleFile"/></div><input type="submit" value="Upload!" id="upload"/></label></div>
</form>
