<form method="post" enctype="multipart/form-data">
    <div><label>Naam<input type="text" name="name"/></label></div>
    <div><label>Omschrijving<input type="text" name="description"/></label></div>
    <div><label>Materialen<input type="text" name="materials"/></label></div>
    <div><label>Regels<input type="text" name="rules"/></label></div>
    <div><label>Differentiaties - makkelijker<input type="text" name="dif-easy"/></label></div>
    <div><label>Differentiaties - moeilijker<input type="text" name="dif-hard"/></label></div>
    <div><label>Doelgroep<input type="text" name="target-audience"/></label></div>
    <div><label>Spelsoort<input type="text" name="game-type"/></label></div>
    <div><label>Aantal leerlingen<input type="text" name="amount-students"/></label></div>
    <div><label>Plattegrond<div><input type="file" name="sampleFile"/></div><input type="submit" value="Upload!" id="upload"/></label></div>
    <div><button class="btn-primary">Sla op</button> </div>
</form>
