<tr>
    <th class="admin_panel_user_id" scope="row"></th>
    <td class="admin_panel_user_name"></td>
    <td>
        <select aria-label="Default select example" class="form-control admin_panel_user_role" id="admin_panel_user_role">
            <option value="1">Admin</option>
            <option value="0">Gebruiker</option>
        </select>
    </td>
    <td>
        <button class="btn btn-danger admin_user_delete" type="button"><i class="fas fa-trash-alt"></i>
        </button>
    </td>
</tr>
