<tr>
    <th class="admin_panel_game_id" scope="row"></th>
    <td class="admin_panel_game_name"></td>
<!--    <td class="admin_panel_game_description"></td>-->
<!--    <td class="admin_panel_game_type"></td>-->
<!--    <td class="admin_panel_game_rules"></td>-->
    <td>
        <button class="btn btn-danger admin_panel_game_delete" type="button"><i class="fas fa-trash-alt"></i>
        </button>
    </td>
    <td>
        <button class="btn btn-primary admin_panel_game_edit" type="button"><i class="fas fa-pen"></i>
        </button>
    </td>
</tr>