<div class="main-area" id="welcome">
    <div class="container game-container page-container">
        <form encType="multipart/form-data" id="game-form" method="post">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="features-small-item h-100">
                        <div class="login-show">
                            <h4>Spellen beheren</h4>
                            <p class="mt-5">
                                Hier kun je alle spellen beheren, je kunt spellen verwijderen of bewerken. Maar ook
                                gebruikers verwijderen of toevoegen.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container col-md-12">
                    <div class="col-lg-12 mb-4"></div>
                    <div class="features-small-item h-100 vertical-center">
                        <div class="login show">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Spel naam</th>
                                    <th scope="col">Verwijderen</th>
                                    <th scope="col">Bewerken</th>
                                </tr>
                                </thead>
                                <tbody id="admin_panel_game_list">
                                <!--                               wordt automatisch aangevuld-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
