<div class="welcome-area" id="welcome">
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12" style="margin-top: 20px">
                    <h1>Spellen</h1>
                    <p>Hier kun je Gymspellen vinden voor je klas!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>

<section class="section home-feature" id="blog">
    <div class="container full-opacity">
        <div class="features-small-item h-100">
            <div class="row center-text align-content-center ">
                <div class="col-md-2 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="search-filter"><b>Zoeken</b></label>
                        <input class="form-control" id="search-filter" name="" required=""
                               type="text">
                    </fieldset>
                </div>
                <div class="col-md-2 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-type-filter"><b>Type Spel</b></label>
                        <select aria-label="Default select example" class="form-control" id="game-type-filter">
                            <option selected>Alle soorten</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-md-2 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-target-audience-min"><b>Vanaf leerjaar</b></label>
                        <select aria-label="Default select example" class="form-control" id="game-target-audience-min">

                        </select>
                    </fieldset>
                </div>
                <div class="col-md-2 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-target-audience-max"><b>Tot leerjaar</b></label>
                        <select aria-label="Default select example" class="form-control" id="game-target-audience-max">

                        </select>
                    </fieldset>
                </div>
                <div class="col-md-2 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-material-filter"><b>Materiaal</b></label>
                        <select class="form-control" id="game-material-filter" name="game-filter">
                            <option selected>Alle materialen</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-md-2 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-filter"><b>Sorteren</b></label>
                        <select class="form-control" id="game-filter" name="game-filter">
                            <option>Nieuw</option>
                            <option>Populariteit</option>
                            <option>Favorieten</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 mt-2">
                <h4>Materialen</h4>
                <br>
                <div id="materialview">

                </div>
            </div>
        </div>
        <div class="padding-top-20"></div>
        <!-- ***** Section Title End ***** -->

        <div class="row" id="gameview">

        </div>
        <div class="no-result-alert features-small-item h-100">
            geen zoek resultaten
        </div>
    </div>
</section>

<section class="section home-feature">

</section>
