<div class="welcome-area" id="welcome">
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12" style="margin-top: 20px">
                    <h1>Spellen</h1>
                    <p>Hier kun je Gymspellen vinden voor je klas!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>

<section class="section home-feature" id="blog">
    <div class="container full-opacity">
        <div class="features-small-item h-100 row">
            <div class="center-text align-content-center w-50 row">
<!--                <div class="col-md-6 col-sm-12 mt-2">-->
<!--                    <fieldset>-->
<!--                        <label class="float-left" for="search-filter"><b>Zoeken</b></label>-->
<!--                        <input class="form-control" id="search-filter" name="" required=""-->
<!--                               type="text">-->
<!--                    </fieldset>-->
<!--                </div>-->
                <div class="col-md-6 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-target-audience-min"><b>Vanaf leerjaar</b></label>
                        <select aria-label="Default select example" class="form-control"
                                id="game-target-audience-min">

                        </select>
                    </fieldset>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-target-audience-max"><b>Tot leerjaar</b></label>
                        <select aria-label="Default select example" class="form-control"
                                id="game-target-audience-max">

                        </select>
                    </fieldset>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-type-filter"><b>Type Spel</b></label>
                        <select aria-label="Default select example" class="form-control" id="game-type-filter">
                            <option selected>Alle soorten</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="student-amount"><b>Min aantal spelers: </b><span id="student-amount-value" >25</span></label>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="50" value="25" class="slider" id="student-amount">
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-6 col-sm-12 mt-2">
                    <fieldset>
                        <label class="float-left" for="game-filter"><b>Sorteren</b></label>
                        <select class="form-control" id="game-filter" name="game-filter">
                            <option>Nieuw</option>
                            <option>Populariteit</option>
                            <option>Favorieten</option>
                        </select>
                    </fieldset>
                </div>
            </div>
<!--            <div class="row center-text align-content-center w-50">-->
<!--                <fieldset>-->
<!--                    <label class="float-left" for="materialview2"><b>Materiaal</b></label>-->
<!--                    <br>-->
<!--                    <div id="materialview2">-->
<!--                        -->
<!--                    </div>-->
<!--                </fieldset>-->
<!--            </div>-->
            <div class="col-md-12 col-sm-12 mt-2">
                <button class="main-button btn btn-default float-right" id="filter-button" type="submit"
                        value="Upload!">Zoeken
                </button>
            </div>
        </div>
        <div class="padding-top-20"></div>
        <!-- ***** Section Title End ***** -->

        <div class="row" id="gameview">

        </div>
        <div class="no-result-alert features-small-item h-100">
            geen zoek resultaten

        </div>
        <br>
        <br>
    </div>
</section>

<section class="section home-feature">

</section>
