<div class="main-area" id="welcome">
    <div class="container game-container page-container">
        <form encType="multipart/form-data" id="game-form" method="post">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="features-small-item h-100 vertical-center">
                        <div class="login-show">
                            <h4>Spel aanmaken</h4>

                            <p class="mt-5">
                                Hier kun je een spel aanmaken, de benodigde materialen aangeven en een beschrijving bij
                                schrijven. Vergeet ook niet om een foto toe te voegen bij je spel! Je spel komt te staan
                                bij
                                de Spellen pagina, maar ook op de home pagina onder ''Nieuwste spellen''.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-small-item h-100 vertical-center">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset>
                                    <label class="float-left" for="game_name">Spelnaam</label>
                                    <input class="form-control" id="game_name" name="name" required type="text">
                                </fieldset>
                            </div>

                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset>
                                    <label class="float-left" for="game_description">Beschrijving</label>
                                    <textarea class="form-control" id="game_description" name="description" required
                                              type="text"></textarea>
                                </fieldset>
                            </div>

                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset class="file-wrapper">
                                    <label class="float-left" for="game-icon">Thumbnail</label>
                                    <input accept="image/*" class="form-control" id="game-icon" name="game-icon"
                                           required
                                           type="file">
                                </fieldset>
                            </div>

                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset class="file-wrapper">
                                    <label class="float-left" for="game-plan">Plattegrond</label>
                                    <input accept="image/*" class="form-control" id="game-plan" name="game-plan"
                                           required
                                           type="file">
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-small-item h-100 vertical-center">

                        <div class="row">

                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset>
                                    <label class="float-left" for="game_type">Soort spel</label>
                                    <select class="form-control" id="game_type" name="game_type">

                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset>
                                    <label class="float-left" for="target-audience-min">Minimaal aantal
                                        leerlingen</label>
                                    <input class="form-control" id="min-players"
                                           name="min-players" type="number">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset>
                                    <label class="float-left" for="target-audience-min">Doelgroep vanaf</label>
                                    <select class="form-control" id="target-audience-min"
                                            name="target-audience-min"></select>
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12 mt-2">
                                <fieldset>
                                    <label class="float-left" for="target-audience-max"> T/M</label>
                                    <select class="form-control" id="target-audience-max"
                                            name="target-audience-max"></select>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-small-item h-100 vertical-center">
                        <div class="row w-100">
                            <div class="col-md-12 col-sm-12 mt-2">
                                <h4>Materialen</h4>
                                <br>
                                <div id="materialview">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 padding-top-20">
                    <div class="features-small-item h-100 vertical-center">
                        <div class="row w-100">
                            <div style="display: none" class="rule_template_row rule_row col-12 mb-2">
                                <div class="row">
                                    <div class="col-10">
                                        <input type="text" class="form-control no_val" placeholder="Regel:">
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-danger remove_row" type="button"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="rule_rows w-100">

                            </div>
                            <div class="rule_add_row col-12 mb-2">
                                <div class="row">
                                    <div class="col-10">
                                        <p style="line-height: 35px; margin: 0">Regel toevoegen</p>
                                    </div>
                                    <div class="col-2">
                                        <div class="btn btn-default">
                                            <i class="fas fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4 padding-top-20">
                    <div class="features-small-item h-100 vertical-center">

                        <div class="row w-100">
                        <div style="display: none; border-bottom: 1px solid lightgrey" class="diff_template_row diff_row col-12 mb-2 pb-2">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text"  class="form-control no_val" placeholder="Differentiatie:">
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-danger remove_row" type="button"><i class="fas fa-trash-alt"></i></button>
                                </div>
                                <div class="col-12 mt-2">
                                    <textarea placeholder="Uitleg" class="form-control no_val" ></textarea>
                                </div>
                            </div>
                        </div>
                            <div class="diff_rows w-100">

                            </div>
                        <div class="diff_add_row col-12 mb-2">
                            <div class="row">
                                <div class="col-10">
                                    <p style="line-height: 35px; margin: 0;">Differentiaties toevoegen</p>
                                </div>
                                <div class="col-2">
                                    <div class="btn btn-default ">
                                        <i class="fas fa-plus" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4">
                    <div class="features-small-item no-padding h-100 vertical-center">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <button class="main-button btn btn-default float-right" id="game" type="submit"
                                    value="Upload!">Aanmaken
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
