<div class="welcome-area" id="welcome">
    <div class="container game-container page-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-small-item h-100 vertical-center">
                    <div class="login-show">
                        <h4>Spel aanmaken</h4>

                        <p class="mt-5">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non tempus sapien. Maecenas
                            aliquet elementum ex vitae luctus. Fusce pellentesque erat non dolor vehicula, in blandit
                            arcu mattis. Donec eu euismod nulla, vel mollis eros. Suspendisse et convallis tellus. Donec
                            at risus est. Vestibulum erat diam, tristique semper laoreet vel, malesuada et metus.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-small-item h-100 vertical-center">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label for="game_name" class="float-left">Spelnaam</label>
                                <input name="name" id="game_name" type="text" class="form-control" required>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label for="game_description" class="float-left">Beschrijving</label>
                                <textarea name="description" id="game_description" type="text" class="form-control"
                                          required></textarea>

                            </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label for="game_type" class="float-left">Soort spel</label>
                                <select name="game_type" class="form-control" id="game_type">

                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label for="target-audience-min" class="float-left">Doelgroep vanaf</label>
                                <select class="form-control" name="target-audience-min"
                                        id="target-audience-min"></select>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label for="target-audience-max" class="float-left"> T/M</label>
                                <select class="form-control" name="target-audience-max"
                                        id="target-audience-max"></select>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-small-item h-100 vertical-center">
                    <div class="row w-100">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <h4>Materialen</h4>
                            <br>
                            <div id="materialview">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-4">
                <div class="features-small-item no-padding h-100 vertical-center">
                    <div class="col-md-12 col-sm-12 mt-2">
                        <button type="submit" id="game" class="main-button btn btn-default float-right">Aanmaken</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section home-feature">

</section>
