<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">
    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                    <h1>De leukste spellen <br> om te spelen met je klas!
                    </h1>
                    <p class="">Je kunt hier soorten spellen vinden om te spelen met je klas, binnen of buiten! <br>
                        Je kunt je spellen ook opslaan als je een account aanmaakt!</p>
                    <a class="main-button" data-controller="game" href="#game" id="gamesButton">Alle Spellen</a>
                    <a class="main-button" data-controller="register" href="#" id="registerButton" show-login="false">Account
                        aanmaken</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Blog Start ***** -->
<section class="section home-feature" id="blog">
    <div class="container full-opacity">

        <div class="features-small-item h-100">
            <div class="center-heading">
                <h2 class="section-title">Nieuwste spellen</h2>
                <span class="home-game-des">Hier zie je de nieuwste spellen die zijn toegevoegd!</span>
            </div>
        </div>


        <!-- ***** Section Title End ***** -->
        <div class="img">
            <div class="row newGameListLimit3" id="newGameListLimit3">

            </div>
            <!-- ***** Section Title Start ***** -->
        </div>

        <div class="features-small-item h-100">
            <div class="center-heading">
                <h2 class="section-title ">Populairste spellen</h2>
                <span class="home-game-des">Hier zie je de populairste spellen van dit moment!</span>
            </div>
        </div>


        <!-- ***** Section Title End ***** -->
        <div class="img">
            <div class="row ratingGameListLimit3">

            </div>  <!-- ***** Section Title Start ***** -->
        </div>

        <div class="features-small-item h-100" show-login="true">
            <div class="center-heading ">
                <h2 class="section-title">Meest bekeken spellen</h2>
                <span class="home-game-des">Hier zie je de meest bekeken spellen!</span>
            </div>
        </div>

        <div class="img" show-login="true">
            <div class="row clickGameListLimit3">

            </div>
        </div>
        <div class="features-small-item h-100" show-login="true">
            <div class="center-heading ">
                <h2 class="section-title">Mijn favoriete spellen</h2>
                <span class="home-game-des">Hier zie je jouw favoriete spellen!</span>
            </div>
        </div>

        <div class="img" show-login="true">
            <div class="row favGameListLimit3">

            </div>
        </div>
    </div>
</section>