<div class="col-md-12 col-sm-12 mt-2 float-right">

    <fieldset>
        <label class="labelMaterials float-left"></label>

        <div class="row float-right">
            <div class="col-4 no-padding">
                <div class="btn btn-default material-minus">
                    <i class="fas fa-minus"></i>
                </div>
            </div>

            <div class="col-4 no-padding">
                <input class="form-control material-input center-text" max="99" min="0" type="number" value="0"/>
            </div>

            <div class="col-4 no-padding">
                <div class="btn btn-default material-plus">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
        </div>
        <br>
    </fieldset>
</div>