<div class="container">
    <div class="row">
            <div class="col-12 w-50">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <!--                    <img src="assets/img/template/logo.png" alt="Softy Pinko"/>-->
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="#" data-controller="home"> Home</a></li>
<!--                        <li><a href="#" data-controller="home"> Contact </a></li>-->

                        <li><a href="#" data-controller="game">Spellen</a></li>
                        <li><a href="#" data-controller="gameCreate">Spellen aanmaken</a></li>

<!--                        <li><a href="#" data-controller="register">Registreer</a></li>-->
                        <li><a href="#" data-controller="login">Inloggen</a></li>
                    </ul>
                    <!-- ***** Menu End ***** -->

                </nav>
        </div>
    </div>
</div>
