<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
<!--                    <img src="assets/img/template/logo.png" alt="Softy Pinko"/>-->
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li><a href="#" data-controller="home" data-scroll-to="welcome">Home</a></li>
                    <li><a href="#" data-controller="home" data-scroll-to="features">Info</a></li>
                    <li><a href="#" data-controller="home" data-scroll-to="work-process">Proces</a></li>
                    <li><a href="#" data-controller="home" data-scroll-to="testimonials">Reviews</a></li>
                    <li><a href="#" data-controller="home" data-scroll-to="pricing-plans">Pricing Tables</a></li>
                    <li><a href="#" data-controller="home" data-scroll-to="contact-us">Contact </a></li>

                    <li><a href="#" data-controller="game">Spellen</a></li>
                    <li><a href="#" data-controller="gameCreate">Spellen aanmaken</a></li>

                    <li><a href="#" data-controller="register">Registreer</a></li>
                    <li><a href="#" data-controller="login">Inloggen</a></li>
                </ul>
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</div>
