<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="main-nav">
                <img alt="Limitless Jungle" class="logo" src="assets/img/template/logo-icon.png"/>
                <!-- ***** Logo Start ***** -->
                <!--                                    <img src="assets/img/template/logo-icon.png" alt="Limitless Jungle"/>-->
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                    <li><a data-controller="home" href="#home">Home</a></li>

                    <li><a data-controller="game" href="#game">Spellen</a></li>
                    <li show-login="true"><a data-controller="gameCreate" href="#">Spellen aanmaken</a></li>

                    <li show-login="false"><a data-controller="login" href="#">Inloggen</a></li>
                    <li show-login="false"><a href="#" data-controller="register" id="register">Registreren</a></li>
                    <li show-login="true"><a href="#" id="logout">Uitloggen</a></li>
                </ul>
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
            </nav>
        </div>
    </div>
</div>
