<div>

</div>
<div class="welcome-area" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-small-item">
                    <form id="register">
                        <div class="registerPart1">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" placeholder="E-Mail Adres"
                                               required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="password" type="password" class="form-control"
                                               placeholder="Wachtwoord" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="passwordCheck" type="password" class="form-control"
                                               placeholder="Wachtwoord herhalen" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button>Volgende</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="registerPart2">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="firstname" type="text" class="form-control" placeholder="Voornaam"
                                               required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="lastname" type="text" class="form-control"
                                               placeholder="Achternaam" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="birthdate" type="date" class="form-control"
                                               placeholder="Geboortedatum" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button>Volgende</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="registerPart3">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="schoolName" type="text" class="form-control" placeholder="Locatie school"
                                               required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="country" type="text" class="form-control"
                                               placeholder="Land" required="">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Registreren</button>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">

</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
