<div>

</div>
<div class="main-area" id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-3">
                <div class="features-small-item h-100 vertical-center">
                    <div class="login-show">
                        <h4>Registreren</h4>

                        <p class="mt-5" id="registration-left">
                            Registreer vandaag om het meeste uit de website te halen!<br>
                            Je kunt door te registreren:<br>
                            <br>
                            - Je spellen opslaan als favorieten <br>
                            - Kijken welke spellen je kunt spelen aan de hand van je materialen<br>
                            - Een suggestie doen voor een nieuwe spel<br>
                            - Beoordelingen met een bericht achterlaten bij de spellen die je hebt gespeeld
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb-3 center-text">
                <div class="features-small-item h-100 wizard">
                    <div class="tabs">
                        <div class="tab" data-wizard-state="current" id="account-field">
                            <img class="registerImg"
                                 src="https://pics.freeicons.io/uploads/icons/png/7205445111595501398-512.png">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label class="float-left" for="emailRegister">E-mail Adres</label>
                                        <input class="form-control" id="emailRegister" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
                                               placeholder="E-mail"
                                               required type="email">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label class="float-left" for="passwordRegister">Wachtwoord</label>
                                        <input class="form-control" id="passwordRegister" name="password"
                                               pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,32}$"
                                               placeholder="Wachtwoord" required
                                               type="password">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label class="float-left" for="passwordCheckRegister">Wachtwoord
                                            herhalen</label>
                                        <input class="form-control" id="passwordCheckRegister" name="passwordCheck"
                                               placeholder="Wachtwoord herhalen"
                                               required type="password">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                </div>
                            </div>
                        </div>

                        <div class="tab" data-wizard-state="pending" id="personal-field">
                            <img class="registerImg"
                                 src="https://pics.freeicons.io/uploads/icons/png/8835701331556281664-512.png">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label for="firstnameRegister">Voornaam</label>
                                        <input class="form-control" id="firstnameRegister" name="firstname"
                                               placeholder="Voornaam"
                                               required
                                               type="text">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label for="lastnameRegister">Achternaam</label>
                                        <input class="form-control" id="lastnameRegister" name="lastname"
                                               placeholder="Achternaam"
                                               required type="text">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label for="birthdateRegister">Geboortedatum</label>
                                        <input class="form-control" id="birthdateRegister" name="birthdate"
                                               placeholder="Geboortedatum"
                                               required type="date">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                </div>
                            </div>
                        </div>
                        <div class="tab" data-wizard-state="pending" id="school-field">
                            <img alt="test"
                                 class="registerImg"
                                 src="https://pics.freeicons.io/uploads/icons/png/9293099951595156175-512.png">
                            <div class="row">

                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label for="schoolNameRegister">Naam van school</label>
                                        <input class="form-control" id="schoolNameRegister" name="schoolName"
                                               placeholder="Naam school"
                                               required type="text">
                                    </fieldset>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <fieldset>
                                        <label for="countryRegister">Land van school</label>
                                        <input class="form-control" id="countryRegister" name="country" placeholder="Land"
                                               required type="text">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-nav h-100 align-content-center padding-top-20">
                        <fieldset>
                            <button class="main-button" id="next" type="button">Volgende</button>
                            <button class="main-button" id="back" style="display: none" type="button">Terug</button>
                            <button class="main-button" id="finish" style="display: none" type="button">Verzenden
                            </button>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section home-feature">

    </section>
