<div class="row justify-content-md-center">
    <div class="col-sm-4 m-3">
        <h2 class="mb-3">Registreren</h2>

        <form class="login-form">
            <div class="form-group">
                <label for="registerInputEmail">e-mail</label>
                <input type="text" name="emailadres" class="form-control" id="registerInputEmail" aria-describedby="emailHelp" placeholder="Vul emailadres in">
            </div>
            <div class="form-group">
                <label for="registerInputPassword">Wachtwoord</label>
                <input type="password" name="passwordRegister" class="form-control" id="registerInputPassword" placeholder="Vul wachtwoord in">
            </div>

            <div class="error mb-3 text-danger"></div>
            <button type="submit" class="btn btn-primary">Registreer</button>
        </form>
    </div>
</div>