<div class="welcome-area" id="welcome" xmlns="http://www.w3.org/1999/html">
    <div class="container game-container page-container ">
        <div class="features-small-item ">
            <h2 class="game-info-name"></h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-lg-12 col-sm-12 mt-3">

                        <fieldset>
                            <h4 class="float-left">Beschrijving</h4>
                            <p class="float-left game-info-description">
                            </p>
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <h4>Spel Info</h4>
                        <fieldset>
                            <label class="float-left">Soort spel</label>
                            <div class="game-info-type"></div>
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <fieldset>
                            <label class="float-left">Doelgroep vanaf</label>
                            <div class="game-info-target-audience-min"></div>
                        </fieldset>
                    </div>
                    <div class="col-md-12 col-sm-12 mt-2">
                        <fieldset>
                            <label class="float-left"> T/M</label>
                            <div class="game-info-target-audience-min"></div>
                        </fieldset>
                    </div>
                    <div class="material">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <h4>Materialen</h4>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 mt-2">
                                    <span class="game-info-materials"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plattegrond figure col-lg-8">
                    <h4>Plattegrond</h4>
                    <img src="https://i.imgur.com/QBeG1yj.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section home-feature">

</section>