<div class="main-area" id="welcome" xmlns="http://www.w3.org/1999/html">
    <div class="container game-container page-container ">
        <div class="white-box w-100">
            <h2 class="game-info-name">
            </h2>
            <img class="game-image game-thumb-nail shadow">

            <!--Rating begin-->
            <label class="rating" for="rating_game" id="avg_rating"></label>
            <div class="rating" id="rating_game">
                <input id="5" name="rating" type="radio" value="5"><label for="5">☆</label>
                <input id="4" name="rating" type="radio" value="4"><label for="4">☆</label>
                <input id="3" name="rating" type="radio" value="3"><label for="3">☆</label>
                <input id="2" name="rating" type="radio" value="2"><label for="2">☆</label>
                <input id="1" name="rating" type="radio" value="1"><label for="1">☆</label>
            </div>
            <!--Rating end-->
            <label class="game-info-clicks" for="game-info-clicks" id="game-info-clicks">Aantal keren bekeken: </label>
            <i class="fas f004 fa-heart fav-button" id="game-info-un-fav"></i>
            <i class="far f004 fa-heart fav-button" id="game-info-fav"></i>


        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="col-lg-15">
                    <div class="white-box h-100 w-100">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <h4>Spel Info</h4>
                            <fieldset>
                                <label class="game-info-type no-margin-bottom">Soort spel: </label>
                                <br>
                                <label class="game-info-target-audience-min no-margin-bottom">Doelgroep vanaf: </label>
                                <br>
                                <label class="game-info-target-audience-max no-margin-bottom">T/m: </label>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="material">
                    <div class="col-lg-15">
                        <div class="white-box h-100 w-100">
                            <h4>Materialen</h4>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 mt-2">
                                    <span class="game-info-materials"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mb-3">
                <div class="white-box h-100 w-100">
                    <div class="plattegrond figure w-100">
                        <h4>Plattegrond</h4>
                        <img class="game-image-plan w-100">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 w-100 mb-3">
                <div class="white-box h-100 w-100">
                    <fieldset>
                        <h4>Beschrijving</h4>
                        <p class="float-left game-info-description">
                        </p>
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="white-box h-100 w-100">
                    <fieldset>
                        <h4>Regels</h4>
                        <p class="float-left game-info-rules">
                        </p>
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="white-box h-100 w-100">
                    <fieldset>
                        <h4>Differentiaties</h4>
                        <div class="float-left game-info-diffs w-100">
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>


    </div>
</div>
