<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="blog-post-thumb">
        <div class="img">
            <img class="game_image" src="" alt="">
        </div>
        <div class="blog-content">
            <h3>
                <a href="#"></a>
            </h3>
            <div class="name">
            </div>
            <div class="description">
            </div>
            <div class="target_audience">
            </div>
            <div class="type">
            </div>
            <div class="amount_players">
            </div>
            <div class="rules">
            </div>
            <div class="differentiates_easy">
            </div>
            <div class="differentiates_hard">
            </div>
            <a href="#" class="main-button">Lees meer</a>
        </div>
    </div>
</div>