<div class="welcome-area" id="welcome">
    <div class="container game-container page-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-small-item h-100 vertical-center">
                    <div class="login-show">
                        <h4 class="game-info-name"></h4>

                        <p class="mt-5 game-info-description">

                        </p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-small-item h-100 vertical-center">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label class="float-left">Soort spel</label>
                                <div class="game-info-type"></div>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label class="float-left">Doelgroep vanaf</label>
                                <div class="game-info-target-audience-min"></div>
                            </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12 mt-2">
                            <fieldset>
                                <label class="float-left"> T/M</label>
                                <div class="game-info-target-audience-min"></div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-small-item h-100 vertical-center">
                    <div class="row w-100">
                        <div class="col-md-12 col-sm-12 mt-2">
                            <h4>Materialen</h4>
                            <div class="game-info-materials"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section home-feature">

</section>