<div class="col-lg-4 col-md-6 col-sm-12 game">
    <div class="blog-post-thumb">
        <div class="img">
            <img class="game_image" src="" alt="">
        </div>
        <div class="blog-content">
            <h3>
                <a href="#"></a>
            </h3>
            <div id="summary">
                <div class="name">
                </div>
                <div class="collapse collapseSummary">
                    <label class="labelGames">Omschrijving:</label>
                    <div class="description">
                    </div>
                    <label class="labelGames">Doelgroep:</label>
                    <div class="target_audience_min">
                    </div>
                    <div class="target_audience_max">
                    </div>
                    <label class="labelGames">Soort spel:</label>
                    <div class="type">
                    </div>
                    <label class="labelGames">Aantal spelers:</label>
                    <div class="amount_players">
                    </div>
                    <label class="labelGames">Regels:</label>
                    <div class="rules">
                    </div>
                    <label class="labelGames">Differentiaties - Makkelijk:</label>
                    <div class="differentiates_easy">
                    </div>
                    <label class="labelGames">Differentiaties - Moeilijk:</label>
                    <div class="differentiates_hard">
                    </div>
                </div>
                <a class="collapsed main-button" data-toggle="collapse" href=".collapseSummary" aria-expanded="false"
                   aria-controls="collapseSummary"></a>
            </div>
        </div>
    </div>
</div>
