<div class="row">
    <div class="col-lg-12 text-center m-2">
        <h1 class="mt-5">Welkom bij JungleBest</h1>
        <p class="lead"> Hier kun je Gymspellen vinden voor je klas! </p>

        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Nieuwste Spellen</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p> Hier kom je de nieuwste 3 spellen tegen die zijn toegevoegd! Check ze uit! </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img alt="" src="/assets/img/avatars/male-1.jpeg">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Kat En Muis</a>
                        </h3>
                        <div class="text">
                            Er wordt een kat gekozen, de rest is een muis. Ben je een muis, dan stop je een lintje in je
                            broek,
                            zodat het lijkt op een staart. Het doel van het spel is dat de katten de muizen vangen. Dit
                            doen ze
                            door een lintje uit de broek te trekken. Als dit is gelukt moet het lintje aan de juf of
                            meester
                            gegeven worden. Is jouw lintje afgepakt? Dan word je ook een kat. Het spel is afgelopen als
                            alle
                            lintjes gepakt zijn.
                        </div>
                        <br>
                        <button class="btn btn-success" type="button">Lees meer</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img alt="" src="/assets/img/avatars/female-2.jpeg">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Pionnenroof</a>
                        </h3>
                        <div class="text">
                            Er worden twee teams gemaakt, 1 team zijn de rovers. Het andere team zijn de tikkers. Beide
                            teams
                            beginnen aan hun eigen kant van het veld. De tikkers hebben voor hen een rij met pionnen.
                            Het doel
                            van het spel is om voor de rovers zoveel mogelijk pionnen te roven. Zodra een rover een pion
                            heeft
                            gepakt mag deze getikt worden door een tikker. De rover moet proberen zonder getikt te
                            worden de
                            pion over de eigen achterlijn te krijgen. Ben je wel getikt? Dan moet de pion weer
                            teruggelegd
                            worden. Hoeveel pionnen kunnen de rovers pakken binnen 2 minuten?
                        </div>
                        <br>
                        <button class="btn btn-success" type="button">Lees meer</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-post-thumb">
                    <div class="img">
                        <img alt="" src="/assets/img/avatars/female-1.jpeg">
                    </div>
                    <div class="blog-content">
                        <h3>
                            <a href="#">Fopbal</a>
                        </h3>
                        <div class="text">
                            Maak een grote kring met één iemand in het midden (de fopper), die heeft de bal. De
                            leerlingen in de kring (de vangers) houden de handen achter de rug. De leerling in het
                            midden mag steeds
                            de bal echt of nep (fop) gooien. Gooit de leerling nep, maar komen jouw handen wel zichtbaar
                            achter
                            jouw rug vandaag? Dan ben je af en ga je zitten. Gooit de leerling de bal echt maar vang jij
                            deze
                            niet? Dan ben je ook af en ga je zitten. Vang je de bal wel of blijven je handen netjes
                            achter je rug
                            als de fopper jou fopt? Dan blijf je meedoen. De laatste die over blijft mag de rol van fop
                            gooier op zich
                            nemen.
                        </div>
                        <br>
                        <button class="btn btn-success" type="button">Lees meer</button>
                    </div>
                </div>
            </div>
        </div>

        <p>JSON uit backend voorbeeld:</p>
        <code class="example-response"></code>
    </div>
</div>